*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --hover-color: #ffffff;
    --spotifycolumn-bg: #000000;
    --fakeheader-bg: #080b12;
    --page-bg: #141922;
    --footer-bg: #282828;
    --playlist-color: #a3a3a3;
    --menu-color: #64676c;
    --border-color-menu: #adff2f;
}