*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --hover-color: #ffffff;
    --spotifycolumn-bg: #000000;
    --fakeheader-bg: #080b12;
    --page-bg: #141922;
    --footer-bg: #282828;
    --playlist-color: #a3a3a3;
    --menu-color: #64676c;
    --border-color-menu: #adff2f;
}
body{
    font-family: 'Open Sans', sans-serif;
}
/*utilities*/
.d-flex{
    display: flex;
}
.content{
    display: flex;
    justify-content: center;
}
.d-block{
    display: block;
}
.d-block{
    display: none;
}
.container{
    margin: 0 auto;
    width: 100%;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}
.text-center{
    text-align: center;
}
[class^='col-']
{
    padding: 1rem;
}
.col-lg-2{
    width: calc(100% / 12 * 2);
}
/*end utilities*/
/*Desktop First*/
.main-contain{
    width: 100%;
}
/*header*/
header{
    height: calc(100vh - 150px);
    overflow: auto;
    width: 300px;
    background-color: #000000;
}
.top-list{
    margin: 0 auto;
    width: 250px;
    height: 1000px;
    background-color: blue;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.user{
    margin: 0 auto;
    width: 250px;
    height: 400px;
    background-color: red;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
/*Main*/
main{
    width: calc(100% - 300px);
    height: calc(100vh - 150px);
    overflow: auto;
    background-color: #141922;
}
/*Site Header*/
.site-header{
    height: 100px;
    background-color: #080b128e;
    position: sticky;
    top: 0;
    right: 0;
    display: flex;
    justify-content: right;
    align-items: center;
    margin-bottom: 2rem;
}
.button{
    margin-right: 25px;
    width: 250px;
    height: 50px;
    background-color: green;
}
/*Site Main*/
.site-main{
    margin: 0 auto;
    width: 100%;
}
.music{
    padding: 8px 16px;
    color: #64676c;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
}
.music:hover{
    color: #ffffff;
    border-bottom: 4px solid #adff2f;
}
h2{
    color: #ffffff;
    font-size: 2.5rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
    text-align: left;
    padding-left: 1rem;
}
.suggested{
    text-align: left;
    padding-left: 1rem;
    color: #64676c;
    font-size: 20px;
    font-weight: bold;
}
.card{
    width: 100%;
    height: 300px;
    background-color: yellow;
}
/*Footer*/
footer{
    height: 150px;
    background-color: #282828;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left-footer{
    width: 25%;
    height: 50px;
    background-color: aqua;
}
.center-footer{
    width: 50%;
    height: 50px;
    background-color: brown;
}
.right-footer{
    width: 25%;
    height: 50px;
    background-color: orange;
}
/*Footer end*/
/*Desktop First end*/
/*Laptop view*/
@media screen and (max-width: 1100px) {
    body{
        width: 1100px;
    }
    .col-lg-5{
        width: calc(100% / 5);
    }
    .preference{
        margin: auto;
        padding: 1.5rem 0;
    }
    .music{
        padding: 5px 10px;
        font-size: 16px;
    }
    h2{
        margin-top: 2rem;
    }
    .col-lg-3{
        width: calc(100% / 12 * 3);
    }
    .card{
        background-color: yellow;
    }
}
/*Laptop view end*/
/*Tablet view*/
@media screen and (max-width: 768px) {
    body{
        width: 768px;
    }
    .col-md-4{
        width: calc(100% / 12 * 4);
    }
    .col-md-6{
        width: calc(100% / 12 * 6);
    }
}
/*Tablet view end*/
/*Mobile view*/
@media screen and (max-width: 475px) {
    
}
/*Mobile view end*/